@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #393939;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.avatar {
  transition: all 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}

.avatar:hover {
  cursor: pointer;
  border-radius: 20%;
}

.channel-search::placeholder {
  color: rgb(100, 100, 100) !important;
  font-size: 15px;
}

.chat-input::placeholder {
  color: rgb(100, 100, 100) !important;
  font-size: 15px;
}

.main-logo {
  font-size: 25px;
  margin-top: 0;
  padding: 2px 10px 4px 10px;
  color: white;
  background: rgb(109, 109, 109);
  background: linear-gradient(
    -45deg,
    rgba(109, 109, 109, 1) 0%,
    rgba(37, 37, 37, 1) 49%,
    rgba(1, 1, 23, 1) 100%
  );
  border: none;
  border-radius: 10px;
}

.chat-reply::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 10px 0px 0px 0px;
  width: 38px;
  height: 18px;
  border: 3px solid #626262;
  border-right: none;
  border-bottom: none;
}
